/*******************************CSS selectors******************************/
body{
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin : 0;
    text-align: center;
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;  /* 16px = 1em = 100%  90px = 5.625em = 562.5 %  */
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold ;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
a{
    color: #11999E;
}
hr{
    border-style: dotted;
    border-width: 0;
    border-top-width: 5px;
    color: grey;
    margin: auto ;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 5%;
    
}

/*******************************Class selectors******************************/
.topContainer{
    background-color: #E3FDFD;
    padding-top: 100px;
    position: relative;
}

.underline{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 20%;
    top: 50px;
    
}
.bottom-cloud{
    position: absolute;
    left: 20%;
    bottom: 250px;
}
.skill-row{
    font-size: 1rem;
    margin: 0 auto 50px auto;
    padding : 5%;
    text-align: left;
    width: 50%;
}
.skill-web{
    float: left;
    height: 210px;
    margin-right: 20px;
    width: 40%;
}
.skill-auto{
    float: right;
    height: 225px;
    margin-left: 20px;
    width: 40%;
}
.intro{
    color: #40514E;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    width: 60%;
    margin: 0 auto 0 auto;
}
.footer-link{
    color: #11999E;
    font-size: 1rem;
    margin-top: 0;
    padding: 1%;
    
}
a:hover{
    color: #EAF6F6;
}

.middle-container{
    background-color: #CBF1F5;
    padding-top: 20px;
    padding-bottom: 100px;
}
.bottom-container{
    background-color: #66BFBF;
    height: 100px;
    margin: 0;
    padding: 20px;
}
.copyright{
    font-size: 0.75rem;
    margin-bottom: 0;
    color: #EAF6F6;
}
#projectText{
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc480);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc480);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc480);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc480);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc480);
    text-decoration: none;
  }